@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        I
        focus
        on
        building
        web
        applications
        with
        basic
        database
        operations
        (Create,
        Read,
        Update,
        Delete)
        using
        the
        ASP.NET
        MVC
        framework
    </h1>
</div>
